<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>613351582630-3orstroai32c1v1cnt5hs9bdpg70js3o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613351582630-3orstroai32c1v1cnt5hs9bdpg70js3o</string>
	<key>API_KEY</key>
	<string>AIzaSyA6dmVipYvPsZ3-rB7Ch77ldCOcGvP8bWA</string>
	<key>GCM_SENDER_ID</key>
	<string>613351582630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Stelmakhovska.Inl2</string>
	<key>PROJECT_ID</key>
	<string>inl2-ed457</string>
	<key>STORAGE_BUCKET</key>
	<string>inl2-ed457.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:613351582630:ios:2fe9d629c6241741</string>
	<key>DATABASE_URL</key>
	<string>https://inl2-ed457.firebaseio.com</string>
</dict>
</plist>